<h2>Completed tests for <%= @current_user.name %></h2>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Time spent</th>
    </tr>
  </thead>
  <tbody>
<%= for task <- @tasks do %>
    <tr>
      <td><%= task.title %></td>
      <td><%= task.descrip %></td>
      <td><%= task.time %></td>
    </tr>
<% end %>
  </tbody>
</table>
<span><%= link "Back", to: user_path(@conn, :index) %></span>
