    <h1>Log In</h1>
    <!-- session_path(@conn, :create) -->
    <%= form_tag("/session", method: :post) do %>
      <div class="form-group">
        Username
        <input type="input" name="username" placeholder="your username" >
      </div>
      <!-- passwords come later -->
      <div class="form-group">
        <button class="btn btn-primary">Log in</button>
        <%= link "Register", to: user_path(@conn, :new) %>
      </div>
    <% end %>
